<!-- Template for the maintenance of system preference records
It is very sensitive as changes to any of the records affect the entire application
Only the Admin has access to this page
The access restriction is implemented in the view -->

{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}- Sys Param {% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid container-main">
    <div class="row">
        <div class="col main-title text-center">
            <h4>Maintain System Preferences</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form action="{% url 'system_preference' %}" method="POST" id="sys_pref_update">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-primary btn-ok" name="save_system_preference">Save</button>
                </div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Data</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in syspref %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.pref_verbose }}</td>
                        <td>{{ item.data }}</td>
                        <td> <button class="btn btn-sm btn-select select-pref" data-code = {{item.code}} >Select</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <input type="text" class="hidden" name="pref_code" value ={{pref_code}} id="clicked-code">
                  <button class="btn hidden" id="select-pref-btn" type="submit"
                  name="action">select actual</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
  <script src="{% static 'js/utility.js' %}"></script>
{% endblock %}