{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col text-center">
            <h4>Shopping Bag</h4>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid container-main">
    {% if bag_items %}
    <div class="row">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Artwork</th>
                    <th scope="col">Frame</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <form action="{% url 'update_bag' %}" method="POST" id="update-bag-form">
                    {% csrf_token %}
                    {% for item in bag_items %}
                    <tr>
                        <th scope="row">{{forloop.counter }}</th>
                        <td>

                            {% if item.artwork.image %}
                            <img class="img-cover" src="{{ item.artwork.image.url }}" alt="{{ item.artwork.name }}">
                            {% else %}
                            <img class="img-tiny" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.artwork.name }}">
                            {% endif %}


                            <p class="my-0"> <strong>{{ item.artwork.name }}</strong></p>
                            <p class="my-0"><strong>€{{ item.artwork_price|floatformat:"2g" }}</strong></p>
                            <button type="submit" class="btn btn-select" name="wish_list" id="wish-list-btn">Move to
                                Wishlist</button>
                            <button type="submit" class="btn btn-cancel" name="remove_rec" value={{item.artwork.id}}-{{item.frame.id}}
                                id="remove-btn">Delete</button>


                        </td>
                        <td>
                            <img class="frame-img-cover " src="{{ item.frame.image.url }}" alt="{{ item.frame.name }}">
                            <p class="my-0">{{ item.frame.name }}</p>
                            <p class="my-0">{{ item.frame.size }}</p>
                            <p class="my-0"><strong>€{{ item.frame.price|floatformat:"2g" }}</strong></p>
                        </td>
                        <td>
                            <!-- <p class="my-0 text-center">{{ item.quantity }}</p> -->

                            <p class="my-0 text-center">
                                <!-- <label for="quantity">Quantity:</label> -->
                                <select name="quantity" id="quantity">
                                    {% for i in max_qty %}
                                    <option value={{i}} {% if item.quantity == i %} selected="" {% endif %}>{{i}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </p>

                        </td>

                        <td>
                            <p class="my-0"><strong>€{{ item.sub_total|floatformat:"2g" }}</strong></p>
                        </td>
                        </td>
                    </tr>
                    <input type="hidden" value={{item.artwork.id}}-{{item.frame.id}} name="bag_item_id">
                    <td><button type="submit" name="edit" class="btn btn-ok btn-sm edit-btn"
                            data-name={{item.artwork.id}}-{{item.frame.id}}>Edit
                        </button>
                    </td>
                    {% endfor %}
                    <button type="submit" class="btn btn-success" name="select_rec" id="select-action-btn"></button>
                </form>

                <input type="hidden" value="" name="name_selected" id="name_selected">
                <input type="hidden" value="" name="confirm-id" id="confirm-id">
                <button type="submit" class="hidden" name="confirm-action-btn" id="confirm-action-btn"></button> -->
            </tbody>
        </table>









        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <p class="my-0 text-end"><strong>Total:</strong></p>
                    </div>
                    <div class="col-6">
                        <p class="my-0 highlight"><strong>€{{ total|floatformat:"2g" }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0 text-end"><strong>Delivery:</strong></p>
                    </div>
                    <div class="col-6">
                        <p class="my-0 highlight"><strong>€{{ delivery_cost|floatformat:"2g" }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-0 text-end"><strong>Grand Total:</strong></p>
                    </div>
                    <div class="col-6">
                        <p class="my-0 highlight"><strong>€{{ grand_total|floatformat:"2g" }}</strong></p>
                    </div>
                </div>
                {% if coupon_delta > 0 %}
                <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                    Spend <strong>${{ coupon_delta }}</strong> more to qualify to use the discount coupon!
                </p>
                {% else %}
                <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                    You have over <strong>€{{ coupon_threshold }}</strong> in your bag, remember to get our discount
                    coupon code above and use at checkout!
                </p>
                {% endif %}

                <div class="col-md-4 mx-auto mb-2 mt-2">
                    <a href="{% url 'get_artworks' %}" class="btn btn-ok mt-1">
                        <span>
                            <i class="fas fa-angle-double-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                    <a href="#" class="btn btn-ok mt-1">
                        <span><i class="fas fa-lock icon"></i></span>
                        <span>Proceed to Checkout</span>
                        <span><i class="fas fa-euro-sign icon"></i></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="lead mb-5">Your bag is empty.</p>
    <a href="{% url 'get_artworks' %}" class="btn btn-ok btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/artworks.js' %}"></script>
{% endblock %}