{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}

{% block content %}
    <div class="container-fluid container-main">
        <div class="row h-100">
            <div class="col-6 col-md-4 my-auto">
                <h3 class="main-logo text-black">
                    Buy your classical art framed. Arts by the most famous artists in the world delivered at your door step
                </h3>
                <div class="my-5">
                    <h5>
                        <a href="{% url 'get_artworks' %}" class="go-shop-btn btn btn-lg py-2">Shop Now</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}