{% extends "base.html" %}
{% load static %}

{% load get_star_rating %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid container-main">
    <div class="row">
        <div class="product-container col-10 offset-1">

            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-4 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="select-sort" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if existing_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if existing_sorting == 'price-asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if existing_sorting == 'price-desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if existing_sorting == 'rating-asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if existing_sorting == 'rating-desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if existing_sorting == 'name-asc' %}selected{% endif %}>Name (ascending)</option>
                            <option value="name_desc" {% if existing_sorting == 'name-desc' %}selected{% endif %}>Name (descending)</option>
                            <option value="genre_asc" {% if existing_sorting == 'genre-asc' %}selected{% endif %}>Genre (ascending)</option>
                            <option value="genre_desc" {% if existing_sorting == 'genre-desc' %}selected{% endif %}>Genre (descending)</option>
                            <option value="style_asc" {% if existing_sorting == 'style-asc' %}selected{% endif %}>Style (ascending)</option>
                            <option value="style_desc" {% if existing_sorting == 'style-desc' %}selected{% endif %}>Style (descending)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4 order-md-first">
                    <p class="mt-3 text-center text-md-left">
                        {% if criteria or current_categories or current_sorting != 'None_None' %}
                            <span><a href="{% url 'get_artworks' %}">Artworks Home</a> | </span>
                        {% endif %}
                        {{ artworks|length }} Artworks{% if criteria %} found for <strong>"{{ criteria }}"</strong>{% endif %}
                    </p>

                </div>
                <div class="col-12 col-md-4">
                    <div class="mt-3 text-center text-md-left">
                        {% if search_type %} <h3 class=" ms-4"> <strong>{{search_type}}</strong></h3> {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                {% for artwork in artworks %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if artwork.image %}
                        <a href="{% url 'artwork_detail' artwork.id %}">
                            <img class="card-img-top img-fluid img-cover " src="{{ artwork.image.url }}"
                                alt="{{ artwork.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'artwork_detail' artwork.id %}">
                            <img class="card-img-top img-fluid img-cover" src="{{ MEDIA_URL }}no_image.jpg"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ artwork.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if artwork.on_sale %}
                                        <span class="lead strikeout mb-0 text-left ">€{{ artwork.price|floatformat:2}}</span>
                                        <span class="lead highlight ms-2"> €{{artwork.get_sale_price|floatformat:2}}</span>
                                    {% else %}
                                        <span class="lead mb-0 text-left highlight">€{{ artwork.price }}</span>
                                    {% endif %}

                                    {% if artwork.artist %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'get_artworks' %}?artist={{artwork.artist}}">
                                            <i class="fas fa-user-edit"></i> {{ artwork.artist.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if artwork.genre %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'get_artworks' %}?genre={{artwork.genre}}">
                                            Genre: {{ artwork.genre.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    {% if artwork.style %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'get_artworks' %}?style={{artwork.style}}">
                                            Style: {{ artwork.style.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    <a href="{% url 'reviews' %}">
                                    {% if artwork.rating %}
                                        {% for ind in artwork.rating|rating_dec_main %}
                                            <span class="ms-0 mx-0"><i class="fa-solid fa-star mx-0 small text-danger"></i></span>
                                        {% endfor %}
                                        {% if artwork.rating|rating_dec_fraction %}
                                            <span class="ms-0 mx-0"><i class="fa-solid fa-star-half-stroke text-danger mx-0 small"></i></span>
                                        {% endif %}
                                        {% for ind in artwork.rating|rating_dec_bal %}
                                            <span class="ms-0 mx-0"><i class="fa-solid fa-star mx-0 small text-secondary"></i></span>
                                        {% endfor %}
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                    </a>


                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_delete_artwork_single' artwork.id %}">Edit|Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-1">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-1">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-1">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-1">
                        <hr>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="back-to-top-btn shadow-sm border red-border">
    <a class="back-to-top-link d-flex h-100" title="Back to top">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/artworks.js' %}"></script>
{% endblock %}