{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}- Edit Artworks {% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container-fluid container-main">
    <div class="row">
        <div class="col text-center">
            <h4>Edit / Delete Single Artwork</h4>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <form action="{% url 'edit_delete_artwork_single' artwork.id %}" method="POST" id="artist-maintain-form"
            enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">

                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-ok mt-2 me-2 mb-2"
                            name="save_record">Save</button>
                        <button type="submit" class="btn btn-secondary me-2 btn-sm mb-2 mt-2" name="cancel_ops"
                            value="Cancel" formnovalidate>Cancel</button>
                        <button type="button" class="btn btn-cancel btn-sm mb-2 mt-2" data-bs-toggle="modal"
                            id="confirm-single" data-bs-target="#confirmModal"
                            data-message="Please confirm deleting the Artwork?" data-record_id={{artwork.id}}>Delete
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    {% if artwork.image %}
                    <a href="#">
                        <img class="img-fluid img-cover " src="{{ artwork.image.url }}" alt="{{ artwork.name }}">
                    </a>
                    {% else %}
                    <a href="#">
                        <img class="img-cover" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                    </a>
                    {% endif %}

                </div>
            </div>
            <input type="hidden" value="" name="confirm-id" id="confirm-id">
            <button type="submit" class="hidden" name="confirm-action-btn" id="confirm-action-btn"></button>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/artworks.js' %}"></script>
{% endblock %}
