{% extends "base.html" %}
{% load static %}
{% load crispy_forms_
    tags %}

{% block extra_title %}- Request Return Order {% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid container-main">
    <div class="row">
        <div class="col text-center">
            <h4>Review Request for Return Order</h4>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
            <form method="POST" action="{% url 'review_order_return' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <p>Order Number</p>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="form-order-no" placeholder="Order Number" readonly
                            class=" text-muted w-100" value={{return_order.order_number}}>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Return Date</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{return_req.request_date | date:'d M, Y'}} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Reason</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{return_req.reason}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment for your action"
                            id="floatingTextarea2" name="review-comments" required></textarea>
                        <label for="floatingTextarea2">Decision Comments</label>
                    </div>
                </div>

                <button type="button" class="btn btn-cancel btn-sm mt-2 mx-2" data-bs-toggle="modal" id="confirm-single"
                    data-bs-target="#confirmModal" title="Click to confirm action"
                    data-message="Please confirm rejecting the return of order {{return_req.order}}."
                    data-record_id={{return_req.order}}><i class="fa-solid fa-xmark icon me-1"></i> Reject
                </button>
                <button type="Submit" class="btn btn-ok btn-sm mt-2" name="approve-btn" title="Click to confirm action"
                    value={{return_req.order}}><i class="fa-solid fa-floppy-disk icon me-1"></i> Approve
                </button>

                <button type="submit" class="hidden" name="confirm-action-btn" id="confirm-action-btn"></button>
                <input type="hidden" value={{return_req.order}} name="confirm-id" id="confirm-id">
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <p>Order Total:</p>
                    </div>
                    <div class="col-md-8">
                        <p>€{{return_order.order_total |floatformat:"2g"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Delivery Cost</p>
                    </div>
                    <div class="col-md-8">
                        <p>€{{return_order.delivery_cost |floatformat:"2g"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Discount</p>
                    </div>
                    <div class="col-md-8">
                        <p>€{{return_order.discount |floatformat:"2g"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Grand Total</p>
                    </div>
                    <div class="col-md-8">
                        <p>€{{return_order.grand_total |floatformat:"2g"}}</p>
                    </div>
                </div>
        </div>
        <div class="col-12 col-md-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order Number / Email</th>
                        <th scope="col">Date</th>
                        <th scope="col">Line Items</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-dark">
                        <th scope="row"></th>
                        <td>
                            <input type="text" class="small mb-1 w-100" value={% if query_dict.order_number != None %}
                                {{query_dict.order_number}} {% else %} '' {% endif %} name="order_number"
                                placeholder="Order Number">
                            <p>
                                <input type="text" class="small mb-1 w-100" value={% if query_dict.email != None %}
                                    {{query_dict.email}} {% else %} '' {% endif %} name="email"
                                    placeholder="Email address">
                            </p>

                        </td>

                        <td><input type="date" class="small mb-1" value={{query_dict.start_date}} name="start_date"
                                placeholder="Start Date">
                            <span>To</span>
                            <input type="date" class="small mb-1" value={{query_dict.end_date}} name="end_date"
                                placeholder="End Date">
                        </td>
                        <td></td>
                        <td> <button type="submit" formnovalidate name="search-btn" class="btn my-btn"
                                title="Click to search">
                                <i class="fa-solid fa-magnifying-glass"></i></td>
                    </tr>

                    {% for order in orders %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="small">{{ order.order_number }}
                            <p> {{ order.email }}</p>
                        </td>
                        <td>{{order.date | date:'d M, Y H:i a'}}
                            <p>{{order.status}}</p>
                            <p>{{order.return_order.first.request_date| date:'d M, Y H:i a'}}</p>
                        </td>
                        <td>
                            {% for item in order.line_items.all %}
                            <p class="mb-0">Artwork: {{ item.artwork.name }} @
                                €{{ item.artwork_price |floatformat:"2g" }}
                                {% if item.artwork.image %}
                                <img class="img-tiny" src="{{ item.artwork.image.url }}" alt="{{ item.artwork.name }}">
                                {% else %}
                                <img class="img-tiny" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.artwork.name }}">
                                {% endif %}
                            </p>
                            <p class="mb-0">Frame: {{ item.frame.name }} @ €{{ item.frame_price |floatformat:"2g"}}
                                <img class="img-tiny-frame" src="{{ item.frame.image.url }}"
                                    alt="{{ item.frame.name }}">
                            </p>
                            <p class="mb-0">Qty: {{ item.quantity }} </p>
                            <p class="mb-1 highlight">Sub Total: €{{ item.line_item_total |floatformat:"2g"}} </p>

                            {% endfor %}
                        </td>
                        <td>
                            <button type="submit" name="select-btn" class="btn btn-select" title="Click to select"
                                value={{order.order_number}} formnovalidate>
                                Select
                            </button>
                        </td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if orders.has_previous %}
        <li><a href="?page={{ orders.previous_page_number }}" class="btn btn-secondary btn-sm">&laquo; PREV </a>
            <span class="ms-5">Page {{ orders.number }} of {{ orders.paginator.num_pages }}</span>
        </li>
        {% endif %}
        {% if orders.has_next %}
        <li><a href="?page={{ orders.next_page_number }}" class="btn btn-secondary ms-2 btn-sm"> NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}