html {
    height: 100%;
}

/* Color variables */
:root {
    --baby-powder: #FFFFFA;
    --grey: #515052;
    --rich-black: #000103;
    --jet: #333138;
    --tart-orange: #FF312E;
}

body {
    background: url('/media/index_background.png') no-repeat center center fixed;
    background-size: cover;
    background-position-y: 5rem;
    height: calc(100vh - 164px);
    font-family: 'Teko', sans-serif;
    font-size: 300;
}

.hidden {
    display: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-logo {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:var(--rich-black);
}

.logo-init {
    color: var(--tart-orange)
}

.go-shop-btn {
    background: var(--rich-black);
    color:var(--tart-orange);
    min-width: 200px;
    font-weight: 500;
    font-size:2rem;
}

.go-shop-btn:hover{
    color:white;
}