<div class="collapse navbar-collapse" id="menu-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink1">
                <!-- <li><a class="dropdown-item" href="#">By Price</a></li>
                <li><a class="dropdown-item" href="#">By Rating</a></li>
                <li><a class="dropdown-item" href="#">By Genre</a></li>
                <li><a class="dropdown-item" href="#">By Style</a></li>
                <li><a class="dropdown-item" href="#">All Artworks</a></li> -->

                <li><a class="dropdown-item" href="{% url 'get_artworks' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'get_artworks' %}?sort=rating&direction=des">By Rating</a></li>
                <li><a class="dropdown-item" href="{% url 'get_artworks' %}?sort=genre&direction=asc">By Genre</a></li>
                <li><a class="dropdown-item" href="{% url 'get_artworks' %}?sort=style&direction=asc">By Style</a></li>
                <li><a class="dropdown-item" href="{% url 'get_artworks' %}">All Artworks</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Artists
            </a>
            <!-- for loop for the artists -->
            <ul class="dropdown-menu dropdown-menu-start scroll-nav" aria-labelledby="navbarDropdownMenuLink2">
                {% for artist in artists %}
                <li><a class="dropdown-item" href="{% url 'get_artworks' %}?artist={{artist.name}}">
                        {{artist.friendly_name}}
                    </a>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Genre
            </a>
            <!-- for loop for the artists -->
            <ul class="dropdown-menu dropdown-menu-start scroll-nav" aria-labelledby="navbarDropdownMenuLink3">
                {% for genre in genres %}
                <li><a class="dropdown-item" href="{% url 'get_artworks' %}?genre={{genre.name}}">
                        {{genre.friendly_name}}
                    </a>
                {% endfor %}
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Discount Coupons
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'get_artworks' %}?sales=True">Sales</a>
        </li>
    </ul>
</div>