<footer class="footer mt-auto py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div>
                    <h4>Information</54>
                </div>

                <div>
                    <a href="#">About Us</a>
                </div>
                <div>
                    <a href="#">Frequently Asked Questions</a>
                </div>
                <div>
                    <a href="#">Contact Us</a>
                </div>
                <div>
                    <a href="#">Reviews</a>
                </div>
            </div>
            <div class="col-4">
                <h4>Legal</h4>
                <div>
                    <a href="#">Terms & Conditions</a>
                </div>
                <div>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-4">
                <h4>Social Media</h4>
                <div>
                    <a href="#"><i class="fab fa-facebook-square mr-1 icon"></i></a>
                    <a href="#"><i class="fab fa-instagram-square icon"></i></a>
                    <p>Get exclusive artwork and discounts straight to your inbox</p>
                    <button class="btn btn-dark btn-sm">Sign Up for Newsletter</button>
                </div>
            </div>
        </div>
    </div>
</footer>