<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink1">
                <li><a class="dropdown-item" href="#">By Price</a></li>
                <li><a class="dropdown-item" href="#">By Rating</a></li>
                <li><a class="dropdown-item" href="#">By Genre</a></li>
                <li><a class="dropdown-item" href="#">By Style</a></li>
                <li><a class="dropdown-item" href="#">All Artworks</a></li>

            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Artists
            </a>
            <!-- for loop for the artists -->
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink1">
                <li><a class="dropdown-item" href="#">poly holder</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Discount Coupons
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sales
            </a>
        </li>
    </ul>
</div>