{% extends "account/base.html" %}

{% load i18n %}
{% block additional_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}


<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center mb-2">
            <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row gx-5">
            <div class="ms-auto text-center mb-2">
                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" class="btn btn-color" value="{% trans 'change password' %}" />
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}