{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center">
            <h3>{% trans "Set Password" %}</h3>
        </div>
        <hr>
    </div>
    
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
