{% extends "base.html" %}
{% load static %}

{% block extra_title %}- 500 Error{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container-fluid container-main">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center page-heading">Oh oo something has gone wrong!</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-center mt-5">
            <img class="img-fluid" src="{% static 'images/error-500.png' %}" alt="server error image.">
            
        </div>
        <div class="col-12 text-center">
            <p class="mx-auto mt-3">
                Something has gone wrong! Try after sometime, after that contact us!
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <p class="text-center  mx-auto">
                <a href="{% url 'home' %}" class="btn btn-outline-danger ms-2" aria-label="Link Home page.">
                    Return home
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}