{% extends "base.html" %}
{% load static %}

{% block extra_title %}- terms of use {% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid container-main">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center">
            <h4>Terms of Use</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            {{info|safe}}
        </div>
    </div>
</div>

{% endblock %}